snippet name
Briano Goestiawan
endsnippet

snippet mail
b@briano.io
endsnippet

snippet id
31482228
endsnippet

snippet [
[ ] $0
endsnippet

snippet filename
`!v expand('%:t')`
endsnippet

snippet dat
`!v strftime("%d %B %Y")`
endsnippet
