snippet name "" i
Briano Goestiawan
endsnippet

snippet mail "" i
b@briano.io
endsnippet

snippet filename "" i
`!v expand('%:t')`
endsnippet

snippet dat "" i
`!v strftime("%d %b %Y")`
endsnippet

snippet [ "" i
[
	$0
]
endsnippet

snippet { "" i
{
	$0
}
endsnippet

snippet ( "" i
(
	$0
)
endsnippet
